.ticker {
  display: flex;
  flex-flow: row nowrap;
  font-size: 60px;
}

.roller {
  position: relative;
  width: 1.1em;
  height: 0.5em;
  margin: 1px;
}

/**
  CARD STYLES
**/
.card {
  position: absolute;
  width: 1.1em;
  height: 0.5em;
  transform-origin: bottom center;
  transform: rotateX(0deg) translateY(0px);
  transition: transform 1s ease;
  perspective: 600px;
  transform-style: preserve-3d;
  margin: 1px;
}

.half {
  position: absolute;
  top: 0;
  width: 1.1em;
  height: 0.5em;
  background-color: black;
  color: white;
  margin: 1px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.letter {
  text-transform: uppercase;
  font-weight: bold;
  position: relative
}

.top {
  top: 50%; 
}

.bottom {
  bottom: 50%;
}

.back {
  background-color: red;
  transform: translateZ(-1px);
}

.back .letter.bottom {
  transform: rotateX(180deg);
  top: 50%;
}

.card--active{
  transform: rotateX(180deg) translateY(1px);
}